// Dark theme
$backgroundDark: #18191a;
$sidebarDark: #303236;
$textDark: #ddd;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #e7e8e9;
$textBright: #303236;

// Brand
$brandPrimary: #33c275;
